/* General Styles */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f4f4;
    color:#333;
    line-height:1.6;
}

/* Header */
header{
    background:#0077b6;
    color:#fff;
    padding:20px 0;
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav h1{
    font-size:28px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:#ffd60a;
}

/* Hero Section */
.hero{
    text-align:center;
    padding:70px 20px;
    background:white;
}

.hero h2{
    font-size:40px;
    margin-bottom:20px;
}

.hero p{
    font-size:18px;
    margin-bottom:25px;
}

.btn{
    display:inline-block;
    background:#0077b6;
    color:white;
    padding:12px 25px;
    border-radius:5px;
    text-decoration:none;
}

.btn:hover{
    background:#023e8a;
}

/* Sections */
section{
    width:90%;
    margin:30px auto;
    background:white;
    padding:25px;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

section h2{
    margin-bottom:15px;
    color:#0077b6;
}

article{
    margin-bottom:20px;
}

ul{
    margin-left:20px;
}

li{
    margin-bottom:10px;
}

/* Form */
form{
    margin-top:20px;
}

input,
textarea{
    width:100%;
    padding:12px;
    margin-top:5px;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#0077b6;
    color:white;
    border:none;
    padding:12px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#023e8a;
}

/* Footer */
footer{
    text-align:center;
    background:#0077b6;
    color:white;
    padding:15px;
    margin-top:30px;
}

/* Responsive */
@media(max-width:768px){

nav{
    flex-direction:column;
}

nav ul{
    flex-direction:column;
    margin-top:15px;
}

nav ul li{
    margin:10px 0;
}

.hero h2{
    font-size:30px;
}

}
